*,
*:before,
*:after {
    font-size: 14px;
    font-family: arial,sans-serif;
  /*  border: 1px solid red; */
}



/* Header styling */
.container-header {
    display: flex;
    justify-content: space-between;
}

.about-store{

}

.productivity-links {
    display: flex;
}

.account {
display: flex;
}

/* Main content styling */
input {

}

button {

}

.material-icons {
}

.grid-2 {
display: grid;
position: relative;
width: 100%;
margin: auto;
width: 50%;
border: 10px solid green;
padding: 10px;
grid-area: content;
align-content: center;
}

.logo {
position: absolute;
top: 10px;
}

.search-form { /*complete I think*/ 
    position: absolute;
    bottom: 10px;
    
    
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
}

.search-bar-icons {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

.grid-3 {
    grid-area: footer;
    align-content: center;
}