*,
*:before,
*:after {
    font-size: 14px;
    font-family: arial,sans-serif;
  /*  border: 1px solid red; */
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header"
    "content"
    "footer";
    align-content: center;
    /*height: 100vh;*/
}

.grid-container > div {
    background: #eee;
}

.grid-container > div:nth-child(odd){
    background: #ddd;
}

.grid-1 {
    
    grid-area: header;
    display: grid;
    grid-template-columns: 10%;
}

input {

}

button {

}

.material-icons {
}

.grid-2 {
margin: auto;
width: 50%;
border: 10px solid green;
padding: 10px;
grid-area: content;
align-content: center;
}

.logo {

}

.search-form { /*complete I think*/ 
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
}

.search-bar-icons {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

.grid-3 {
    grid-area: footer;
    align-content: center;
}