*,
*:before,
*:after {
    font-size: 14px;
    font-family: arial,sans-serif;
}

.main {
display: flexbox;
margin: auto;
width: 50%;
border: 3px solid green;
padding: 10px;
}

.logo {

}

.search-form {
    
}
